.form-container {
    position: fixed;
    width: 50%;
    margin-left: 20px;
    max-top:20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.floatRight{
    float: right;
    margin-left: 18px;
}

.has-error{
    color: red;
}

.success{
    position: fixed;
    width: 50%;
    margin-left: 50px;
    margin-top: 20px;
    padding:20px;
    background-color: #E8E1E1;
    border:  1px solid #ddd;
    border-radius: 4px;
}
